test/*
layers/layer-params-imagenet-2gpu-data-n*
layers/layer-params-imagenet-2gpu-data-q*
layers/layer-params-cifar10-q*
output/*
expt-grid.*

*.pyc
*/bin/
*/obj/
*.so
*.dylib
*~
*.swp
*/*/bin/*
*.sublime-workspace
*.sublime-project
*eaDir/
*.DS_Store
build
dist
*.egg-info

build_*/
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
